@model FantasyNBA.Models.Customer
@{
    ViewBag.Title = "EditCustomer";
}

<h2>EditCustomer</h2>
<h2>@Model.Name</h2>

<ul>
    <li>
        @Model.MembershipType.Name
    </li>
    <li>
        @Model.Birthdate
    </li>
</ul>

