@model IEnumerable<FantasyNBA.Models.Player>

@{
    ViewBag.Title = "Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Players</h2>
<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Player</th>
            <th>Position</th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/players/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "lastName",
                        render: function (data, type, player) {
                            return "<a href='/players/GetPlayerDetails/" + player.internalId + "'>" + player.lastName + ' ' + player.firstName + "</a>";
                        }
                    },
                    {
                        data: "position"
                    },
                    {
                        data: "age"                   
                    }
                ]
            });

        });
    </script>
}