@model FantasyNBA.Models.Player
@{
    ViewBag.Title = "GetPlayerDetails";
}

<h2>GetPlayerDetails</h2>
<h2>@Model.LastName @Model.FirstName</h2>

<ul>
    <li>
        @Model.Position
    </li>
    <li>
        <img src="@Model.officialImageSrc" />
    </li>
</ul>


