@model IEnumerable<FantasyNBA.Models.Player>

@{
    ViewBag.Title = "Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Players</h2>
<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Player</th>
            <th>Position</th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                processing: true,
                language: {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading..n.</span> '
                },
                ajax: {
                    url: "/api/players/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "player.lastName",
                        render: function (data, type, player) {
                            return "<a href='/players/GetPlayerDetails/" + player.player.id + "'>" + player.player.lastName + ' ' + player.player.firstName + "</a>";
                        }
                    },
                    {
                        data: "player.position"
                    },
                    {
                        data: "player.age"                   
                    }
                ]
            });

        });
    </script>
}