@model Int32
<div class="summary">
    <div class="row player-summary">
        <div class="small-12" style="position: relative;">

            <div class="summary__container team-color-gradient n-p small-12">

                <div class="player-summary__inner">

                    <div class="player-summary__image-block">
                        <img player-id="" team-id="" class="player-img" src="" alt="" title="">
                    </div>

                    <div class="player-summary__info">
                        <a class="player-summary__team-logo">
                            <img team-logo="" abbr="CHA" class="team-img" type="image/svg+xml" src="" alt="Charlotte Hornets logo" title="Charlotte Hornets logo">
                        </a>
                        <div class="player-summary__text">
                            <div class="player-summary__text-top">
                                <!----><span class="player-summary__player-number"><span class="player-summary__hash">#</span></span><!---->
                                <div class="player-summary__player-name">
                                    <p class="player-summary__first-name"></p>
                                    <p class="player-summary__last-name"></p>
                                </div>
                            </div>
                            <div class="player-summary__text-bottom">
                                <span class="player-summary__player-pos"></span>
                                <a><span class="player-summary__team-name"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="player-stats n-p small-12">
                <div class="player-stats__right n-p col-md-8">
                    <div class="player-stats__item player-stats__pts n-p col-sm-3 stats-link">
                        <!----><a>
                            <div class="player-stats__stat-title">PTS</div>
                            <span class="player-stats__stat-value"></span>
                        </a><!---->
                        <!---->
                        <!---->
                    </div>
                    <div class="player-stats__item player-stats__reb n-p col-sm-3 stats-link">
                        <!----><a>
                            <div class="player-stats__stat-title">REB</div>
                            <span class="player-stats__stat-value"></span>
                        </a><!---->
                        <!---->
                        <!---->
                    </div>
                    <div class="player-stats__item player-stats__ast n-p col-sm-3 stats-link">
                        <!----><a>
                            <div class="player-stats__stat-title">AST</div>
                            <span class="player-stats__stat-value"></span>
                        </a><!---->
                        <!---->
                        <!---->
                    </div>
                    <div class="player-stats__item player-stats__blk n-p col-sm-3 stats-link">
                        <!----><a>
                            <div class="player-stats__stat-title">BLK</div>
                            <span class="player-stats__stat-value"></span>
                        </a><!---->
                        <!---->
                        <!---->
                    </div>
                </div>
                <div class="player-stats__left n-p col-md-4">
                    <div class="player-stats__item player-stats__height n-p stats-link col-md-6">
                        <!----><a>
                            <div class="player-stats__stat-title">HT</div>
                            <span class="player-stats__stat-value">6-1</span>
                        </a><!---->
                        <!---->
                        <!---->
                    </div>
                    <div class="player-stats__item player-stats__weight n-p stats-link columns medium-6">
                        <!----><a>
                            <div class="player-stats__stat-title">WT</div>
                            <span class="player-stats__stat-value"><span class="player-stats__lbs">lbs</span></span>
                        </a><!---->
                        <!---->
                        <!---->
                    </div>
                    <div class="player-stats__item player-stats__age n-p stats-link columns col-md-6">
                        <!----><a>
                            <div class="player-stats__stat-title">AGE</div>
                            <span class="player-stats__stat-value"></span> <!----><span class="player-stats__age-days">231d</span><!---->
                        </a><!---->
                        <!---->
                        <!----> <!---->
                    </div>
                    <div class="player-stats__item player-stats__birthdate n-p col-md-6">
                        <div class="player-stats__stat-title">BORN</div>
                        <span class="player-stats__stat-value"></span>
                    </div>
                </div>
                <div class="player-stats__middle n-p col-sm-12">
                    <div class="player-stats__item player-stats__prior n-p col-md-8">
                        <div class="player-stats__stat-title">PRIOR</div>
                        <span class="player-stats__stat-value"></span>
                    </div>
                    <div class="player-stats__item player-stats__draft n-p [ columns / small-6 / medium-8 ] stats-link">

                        <div class="player-stats__stat-title">PlayerID</div>
                        <span class="player-stats__stat-value"></span>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div id="container" style="width: 75%;">
        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <canvas id="canvas" style="display: block; width: 338px; height: 169px;" width="338" height="169" class="chartjs-render-monitor"></canvas>
    </div>
    @section scripts
{
        <script>
            $(document).ready(function () {
                var stats;
                var playerImage = $(".player-img")
                $.ajax({
                    url: "/api/players/" + @Model,
                    method: "get",
                    success: function (data) {
                        $(".summary__container").addClass(data.team.abbreviation);
                        $(".player-summary__team-logo").children().attr({
                            src: '/Media/' + data.team.abbreviation + '.svg',
                            title: data.team.name + ' logo',
                            alt: data.team.name + ' logo',
                            abbr: data.team.abbreviation
                        });
                        $(".player-summary__first-name").text(data.player.firstName);
                        $(".player-summary__last-name").text(data.player.lastName);
                        $(".player-summary__player-pos").text(data.player.position);
                        $(".player-summary__team-name").text(data.team.name);
                        $(".player-summary__hash").text(data.player.jerseyNumber);
                        $(".player-img").attr({
                            src: data.player.officialImageSrc,
                            title: data.player.firstName + ' ' + data.player.lastName,
                            alt: data.player.firstName + ' ' + data.player.lastName,
                            'team-id': data.team.iD,
                            'player-id': data.player.iD
                        });
                        $(".player-stats__stat-value").eq(4).text(data.player.height);
                        $(".player-stats__stat-value").eq(5).text(data.player.weight + 'lbs');
                        $(".player-stats__stat-value").eq(6).text(data.player.age);
                        $(".player-stats__stat-value").eq(7).text(data.player.birthDate);
                        $(".player-stats__stat-value").eq(8).text(data.player.birthCity + '/' + data.player.birthCountry);
                        $(".player-stats__stat-value").eq(9).text(data.player.id);
                    }
                });
                $.ajax({
                    url: "/api/stats/" + @Model,
                    method: "get",
                    success: function (data) {
                        $(".player-stats__stat-value").eq(0).text(data.stats.ptsPerGame.text);
                        $(".player-stats__stat-value").eq(1).text(data.stats.rebPerGame.text);
                        $(".player-stats__stat-value").eq(2).text(data.stats.astPerGame.text);
                        $(".player-stats__stat-value").eq(3).text(data.stats.blkPerGame.text);
                    }
                });



                @*function testAjax() {
                    var result = "";
                    $.ajax({
                        url: "/api/stats/" + @Model,
                        method: "get",
                        success: function (data) {
                            return (data);
                        }
                    });
                }
                var dupa = $.get("/api/stats/" + @Model, function (data) {
                    return data;
                });*@


                var result;

                $.ajax({
                    type: "GET",
                    url: "/api/stats/" + @Model,
                    datatype: "json",
                    async: false,
                    success: function (data) {
                        result = data;
                        console.log("Inside ajax: " + result);
                    }
                });

                console.log(result); 
             var color = Chart.helpers.color;
             var horizontalBarChartData = {
                 labels: ["PtsPerGame", "RebPerGame", "RebPerGame", "RebPerGame", "RebPerGame"],
                 datasets: [{
                     label: 'Season',
                     backgroundColor: '#ff6384',
                     borderColor: '#ff6384',
                     borderWidth: 1,
                     data: [
                         result.stats.ptsPerGame.text,
                         result.stats.rebPerGame.text,
                         result.stats.astPerGame.text,
                         result.stats.blkPerGame.text,
                         result.stats.stlPerGame.text,
                     ]
                 }, {
                     label: 'Last 5 games',
                     backgroundColor: '#36a2eb',
                     borderColor: '#36a2eb',
                     data: [
                         1,
                         2,
                         3,
                         4,
                         5,
                         6,
                         7
                     ]
                 }]

             };

             window.onload = function () {
                 var ctx = document.getElementById("canvas").getContext("2d");
                 window.myHorizontalBar = new Chart(ctx, {
                     type: 'horizontalBar',
                     data: horizontalBarChartData,
                     options: {
                         // Elements options apply to all of the options unless overridden in a dataset
                         // In this case, we are setting the border of each horizontal bar to be 2px wide
                         elements: {
                             rectangle: {
                                 borderWidth: 2,
                             }
                         },
                         responsive: true,
                         legend: {
                             position: 'right',
                         },
                         title: {
                             display: true,
                             text: 'Chart.js Horizontal Bar Chart'
                         }
                     }
                 });

             };



        });
        </script>
    }
